.daily {
  grid-column: 1/4;
  grid-row: 3/4;
  width: 100%;
  max-width: 52rem;
  height: 20rem;
  background-color: #fbfbfb;
  border-radius: 5px;

  display: flex;
  flex-flow: column nowrap;

  .text {
    height: fit-content;
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    margin-top: 1.5rem;
    margin-left: 40px;
    margin-right: 40px;

    h2 {
      font-size: 1rem;
      font-weight: 500;
      margin: 0;
      padding: 0;
    }

    > div {
      display: flex;
      align-items: baseline;
      color: #74798c;
      font-size: 1rem;
      font-weight: 500;
      margin-bottom: 4rem;
    }
  }

  .legend-b {
    min-width: 0.6rem;
    max-width: 0.6rem;
    min-height: 0.6rem;
    max-height: 0.6rem;
    border-radius: 0.6rem;
    background-color: black;
    margin-right: 0.8rem;
  }

  .legend-b + span {
    margin-right: 2rem;
  }

  .legend-r {
    min-width: 0.6rem;
    max-width: 0.6rem;
    min-height: 0.6rem;
    max-height: 0.6rem;
    border-radius: 0.6rem;
    background-color: #e60000;
    margin-right: 0.8rem;
  }

  .custom-tooltip {
    background-color: #e60000;
    padding: 0.6rem;
    color: white;
    font-size: 0.8rem;
  }
}
