$brand-color: #ff0101;

@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");

:root {
  font-size: 16px;
}

.App {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  box-sizing: border-box;
  margin-top: 5.625rem;
  margin-left: 7.3rem;
  min-height: calc(100vh - 5.625rem);
}

a {
  color: inherit;
  text-decoration: none;
}

h1,
h2,
h3,
p,
li,
a,
span {
  font-family: "Roboto", sans-serif;
}

h1 {
  font-size: 3rem;
  font-weight: 500;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

.name {
  color: red;
}

@import "./components/Header/header";
@import "./components/Menu/menu";
@import "./pages/Dashboard/dashboard";
@import "./components/Daily/daily";
@import "./components/Average/average";
@import "./components/Skills/skills";
@import "./components/Score/score";
@import "./components/Count/count";
@import "./pages/Error/error";
